* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.errors {
    background-color: #d13c3c;
    border-radius: 5px;
    color: #fff;
}

.auth_block,
.local_block {
    max-width: 350px;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
}

.content {
    max-width: 550px;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
}

.auth_block input,
.local_block input {
    height: 30px;
    margin: 5px; 
    max-width: 290px;
    width: 85%;
}

.local_block textarea {
    margin: 5px; 
    max-width: 290px;
    width: 85%;
}

.auth_block button,
.local_block button{
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.auth_block p {
    padding: 5px;
    font-size: 16px;
}

.auth_block h1, label {
    padding: 5px;
}

.vers_num {
    font-size: 12px;
}

.quest_block {
    overflow: scroll;
    max-height: 500px;
}

.done {
    filter: opacity(0.5);
}

.user_quest,
.note {
    max-width: 550px;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
}

.user_quest_title {
    text-align: center;
}

.btn_back {
    max-width: 100px;
    margin: 20px auto;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #dcdada;
    border-radius: 5px;
}

.btn_back a {
    padding: 5px;
    text-decoration: none;
}

/** Панель пользователя */

.controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    /* left: 0; */
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    background: #fff;
}

/** Аккаунт пользователя */

.user_info {
    display: flex;
    justify-content: space-around;
}

.user_name {
    font-size: 28px;
}

.user_notes,
.user_followers,
.user_name,
.user_status {
    text-align: center;
}

.user_data {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.profile_ctrl {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.follow_block a {
    display: block;
    background-color: rgb(43 116 209);
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.bibleref {
    text-align: end;
}

.note {
    margin-top: 10px;
    margin-bottom: 10px;
}

.note_ctrl {
    display: flex;
    justify-content: end;
}

.note_date {
    color: #aba4a4;
    font-size: 13px;
    margin-top: 5px;
    text-align: end;
}

.note_ctrl_btn {
    width: 50px;
    display: flex;
    justify-content: space-around;
}

.nav {
    width: 200px;
    margin: 0 auto;
}

nav[role=navigation] {
    display: flex;
    justify-content: space-around;
}

